<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel="stylesheet" href="/sudoku/style.css">
</head>
<body>
    
    <a href="/"><div class="homeButton"></div></a>

    <div class="gameWrapper">
        <div class="toolContainer">
            <button class="eraseBtn">X</button>
        </div>
        
        <div class="buttonWrapper"></div>

        <div class="numberChooserContainer">
            <button class="numberChooser">1</button>
            <button class="numberChooser">2</button>
            <button class="numberChooser">3</button>
            <button class="numberChooser">4</button>
            <button class="numberChooser">5</button>
            <button class="numberChooser">6</button>
            <button class="numberChooser">7</button>
            <button class="numberChooser">8</button>
            <button class="numberChooser">9</button>
        </div>

    <script src="/sudoku/script.js"></script>
</body>
</html>